In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/example.csv')

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [19]:
pwd

'/content'

In [20]:
df.to_csv('newfile1.csv',index=False)

In [24]:
new = pd.read_csv('/content/newfile1.csv')

In [25]:
new

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

HTML **TABLES**

In [29]:
pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)

In [30]:
url = "https://en.wikipedia.org/wiki/World_population"

In [31]:
tables = pd.read_html(url)

In [32]:
len(tables)

26

In [38]:
tables[1]

                     Region  ...             Most populous city (metropolitan area)
0                      Asia  ...  37,400,000/13,515,000 – Greater Tokyo Area/Tok...
1                    Africa  ...         20,076,000/9,500,000 – Greater Cairo/Cairo
2                    Europe  ...  20,004,000/13,200,000 – Moscow metropolitan ar...
3             Latin America  ...  21,650,000/12,252,000 – São Paulo Metro Area/S...
4  Northern America[note 2]  ...  18,819,000/8,804,000 – New York metropolitan a...
5                   Oceania  ...                                 5,367,000 – Sydney
6                Antarctica  ...                            1,258 – McMurdo Station

[7 rows x 5 columns]

In [35]:
world_top_ten = tables[1]

In [39]:
world_top_ten = world_top_ten.drop(2, axis=0)

In [40]:
world_top_ten

                     Region  ...             Most populous city (metropolitan area)
0                      Asia  ...  37,400,000/13,515,000 – Greater Tokyo Area/Tok...
1                    Africa  ...         20,076,000/9,500,000 – Greater Cairo/Cairo
3             Latin America  ...  21,650,000/12,252,000 – São Paulo Metro Area/S...
4  Northern America[note 2]  ...  18,819,000/8,804,000 – New York metropolitan a...
5                   Oceania  ...                                 5,367,000 – Sydney
6                Antarctica  ...                            1,258 – McMurdo Station

[6 rows x 5 columns]